# PySpark DataFrames

In [5]:
import pyspark
from pyspark.sql import SparkSession

In [6]:

spark = SparkSession.builder.appName("dataframe_paractice").getOrCreate()

In [21]:

df_sparkd = spark.read.csv('./data/test.csv', header=True, inferSchema=True)

In [8]:
df_sparkd.show()

+-------+----+----------+
|   Name| age|experience|
+-------+----+----------+
| Insram|26.0|         3|
|Shakeel|26.0|         4|
|  Shabi|25.0|         5|
+-------+----+----------+

In [12]:
## schema
df_sparkd.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- experience: integer (nullable = true)

In [14]:
#Describe the dataframe
df_sparkd.describe().show()

+-------+-------+------------------+----------+
|summary|   Name|               age|experience|
+-------+-------+------------------+----------+
|  count|      3|                 3|         3|
|   mean|   NULL|25.666666666666668|       4.0|
| stddev|   NULL|0.5773502691896258|       1.0|
|    min| Insram|              25.0|         3|
|    max|Shakeel|              26.0|         5|
+-------+-------+------------------+----------+

In [15]:
## Select specific columns
df_sparkd.select("Name", "Age").show()

+-------+----+
|   Name| Age|
+-------+----+
| Insram|26.0|
|Shakeel|26.0|
|  Shabi|25.0|
+-------+----+

In [19]:
## Select specific columns with condition
df_sparkd.select(["Name", "Age"]).show()#.filter(df_sparkd.Age > 30).show()

+-------+----+
|   Name| Age|
+-------+----+
| Insram|26.0|
|Shakeel|26.0|
|  Shabi|25.0|
+-------+----+

In [23]:
### ADD NEW COLUMN
df_sparkd = df_sparkd.withColumn("New Age Column", df_sparkd['age'] + 10)

In [24]:
df_sparkd.show()

+-------+----+----------+--------------+
|   Name| age|experience|New Age Column|
+-------+----+----------+--------------+
| Insram|26.0|         3|          36.0|
|Shakeel|26.0|         4|          36.0|
|  Shabi|25.0|         5|          35.0|
+-------+----+----------+--------------+

In [25]:
## Drop a column
df_sparkd = df_sparkd.drop("New Age Column")
df_sparkd.show()

+-------+----+----------+
|   Name| age|experience|
+-------+----+----------+
| Insram|26.0|         3|
|Shakeel|26.0|         4|
|  Shabi|25.0|         5|
+-------+----+----------+

In [26]:
## Rename a column
df_sparkd = df_sparkd.withColumnRenamed("Name", "Full Name")
df_sparkd.show()

+---------+----+----------+
|Full Name| age|experience|
+---------+----+----------+
|   Insram|26.0|         3|
|  Shakeel|26.0|         4|
|    Shabi|25.0|         5|
+---------+----+----------+