## Filter data using PySpark

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("filter-pyspark").getOrCreate()

In [2]:
## Read CSV file
df = spark.read.csv("data/test.csv", header=True, inferSchema=True)
df.show()

+-------+----+----------+------+
|   Name| age|experience|salary|
+-------+----+----------+------+
| Insram|26.0|         3|  2500|
|Shakeel|26.0|         4| 25600|
|  Shabi|25.0|         5| 25700|
+-------+----+----------+------+

## Filter Operations

In [4]:
## Salary of people less than equal to 20000
df.filter(df.salary <= 20000).show()

+------+----+----------+------+
|  Name| age|experience|salary|
+------+----+----------+------+
|Insram|26.0|         3|  2500|
+------+----+----------+------+

In [5]:
df.filter(df.salary <= 20000).select("name", "salary").show()
df.filter(df.salary <= 20000).select("name", "salary").show(truncate=False)

+------+------+
|  name|salary|
+------+------+
|Insram|  2500|
+------+------+

+------+------+
|name  |salary|
+------+------+
|Insram|2500  |
+------+------+