## GroupBy and Aggregation

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Agg").getOrCreate()

In [2]:
## read csv file
df = spark.read.csv("data/test3.csv", header=True, inferSchema=True)

In [3]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [4]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [5]:
## Groupby and sum
df.groupBy("name").agg({"salary": "sum"}).show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [8]:
## group by and sum 
df.groupBy("name").sum("salary").withColumnRenamed("sum(salary)", "total_salary").show()

+---------+------------+
|     name|total_salary|
+---------+------------+
|Sudhanshu|       35000|
|    Sunny|       12000|
|    Krish|       19000|
|   Mahesh|        7000|
+---------+------------+